input[type="checkbox"] {
    user-select: none;
    display: none;
}

label {
    user-select: none;
}

.incomplete {
    color: var(--no);
}

.complete {
    color: var(--yes);
}


/* .complete {
    background: var(--yes);
} */