@font-face {
  font-family: Inter;
  src: url(/styles/fonts/Inter/InterVarFnt.ttf);
}
@font-face {
  font-family: RedHatDisplay;
  src: url(/styles/fonts/RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: Satoshi;
  src: url(/styles/fonts/Satoshi/Fonts/Variable/Satoshi-Variable.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/styles/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: FiraCode;
  src: url(/styles/fonts/Fira/firaCode-var.ttf);
}

:root {
  --bg: #160802;
  --text: #fbe1da;
  --accent: #f39336;
  --primary: #e1ae9b;
  --secondary: #982d09;
  --tertiary: #d1a94e;
  --yes: #43c56c;
  --no: #b12b14;
  --highlight: #3a312f;
}

* {
  font-family: Satoshi;
  margin: 0;
  letter-spacing: -0.03em;
}

body {
  height: 200vh;
  width: 100vw;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text);
}

body h1 {
  background: var(--bg);
  color: var(--text);
  overflow: hidden;
}

.toggle {
  position: absolute;
  height: 50px;
  width: 100px;
  background: var(--no);
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.toggle input[type="checkbox"] {
  opacity: 0;
}

.slider {
  --size: 40px;
  position: relative;
  right: -40px;
  height: var(--size);
  width: var(--size);
  background: white;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.on {
  right: 10px;
}

.toggle p {
  opacity: 0;
  display: none;
}

#reduceMotion .active {
  background: var(--yes);
}

/* header */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 98px;
  background: var(--highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

header > nav .logo img {
  position: relative;
  top: -3px;
  height: 60px;
}

.status {
  position: relative;
  top: -6px;
  left: 50px;
  border-radius: 50px;
  height: 8px;
  width: 8px;
  background: var(--no);
}

.station {
  --size: 50px;
  position: relative;
  height: var(--size);
  width: var(--size);
  border: 8px var(--accent) solid;
  border-radius: 50%;
}

/* sonner: non-obstructive popup */
.sonner {
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 20px;
  width: 350px;
  height: 100px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7.3px);
  backdrop-filter: blur(7.3px);
  display: flex;
  z-index: 100;
  letter-spacing: 0 !important;
}

.sonner h2 {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.sonner p {
  font-size: 1em;
  width: 100%;
}

.wrap-i {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  align-items: center;
}

.sonner > .wrap-i .text {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 12px;
}

.sonner > .wrap-i {
  display: flex;
  flex-direction: row;
}

.sonner button {
  position: absolute;
  --size: 80px;
  height: var(--size);
  width: var(--size);
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.sonner button span {
  font-size: 50px;
  color: var(--text);
}

.preloader {
  transition: opacity .6s ease-out;
}

.preloader > .container {
  --uib-size: 100;
  --uib-color: var(--text);
  --uib-speed: 3.5s;
  --uib-stroke: 12;
  --uib-mult: calc(var(--uib-size) / var(--uib-stroke));
  --uib-stroke-px: calc(var(--uib-stroke) * 1px);
  --uib-size-px: calc(var(--uib-size) * 1px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--uib-size-px);
  width: var(--uib-size-px);
  z-index: 99999999999999;
}

.preloader .line {
  position: absolute;
  top: calc(50% - var(--uib-stroke-px) / 2);
  left: calc(50% - var(--uib-stroke-px) / 2);
  width: var(--uib-stroke-px);
  height: var(--uib-stroke-px);
  background-color: var(--uib-color);
  animation: center-line var(--uib-speed) ease infinite;
  transition: background-color 0.3s ease;
  z-index: 99999999999999;
}

.preloader > .container::before,
.preloader > .container::after {
  content: "";
  position: absolute;
  width: var(--uib-stroke-px);
  height: var(--uib-stroke-px);
  background-color: var(--uib-color);
  animation: explore var(--uib-speed) ease infinite;
  transition: background-color 0.3s ease;
  z-index: 99999999999999;
}

.preloader > .container::after {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.preloader > .container p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(3 * (var(--uib-stroke-px) / 2) + 3 * var(--uib-stroke-px) + 80%);
  left: 50%;
  font-size: 2.1em;
  font-weight: 500;
}

@keyframes center-line {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: scaleX(1) scaleY(1);
  }
  12.5%,
  62.5% {
    transform: scaleX(var(--uib-mult)) scaleY(1);
  }
  37.5%,
  87.5% {
    transform: scaleX(1) scaleY(var(--uib-mult));
  }
}

@keyframes explore {
  0%,
  100% {
    transform: scaleX(1) scaleY(1) translate(0%, 0%);
    transform-origin: top left;
    top: 0;
    left: 0;
  }

  12.5% {
    transform: scaleX(var(--uib-mult)) scaleY(1) translate(0%, 0%);
    transform-origin: top left;
    top: 0;
    left: 0;
  }

  12.50001% {
    transform: scaleX(var(--uib-mult)) scaleY(1) translate(0%, 0%);
    transform-origin: top right;
    top: 0;
    left: initial;
    right: 0;
  }

  25% {
    transform: scaleX(1) scaleY(1) translate(0%, 0%);
    transform-origin: top right;
    top: 0;
    left: initial;
    right: 0;
  }

  37.5% {
    transform: scaleX(1) scaleY(var(--uib-mult)) translate(0%, 0%);
    transform-origin: top right;
    top: 0;
    left: initial;
    right: 0;
  }

  37.5001% {
    transform: scaleX(1) scaleY(var(--uib-mult)) translate(0%, 0%);
    transform-origin: bottom right;
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
  }

  50% {
    transform: scaleX(1) scaleY(1) translate(0%, 0%);
    transform-origin: bottom right;
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
  }

  62.5% {
    transform: scaleX(var(--uib-mult)) scaleY(1) translate(0%, 0%);
    transform-origin: bottom right;
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
  }

  62.5001% {
    transform: scaleX(var(--uib-mult)) scaleY(1) translate(0%, 0%);
    transform-origin: bottom left;
    top: initial;
    bottom: 0;
    left: 0;
  }

  75% {
    transform: scaleX(1) scaleY(1) translate(0%, 0%);
    transform-origin: bottom left;
    top: initial;
    bottom: 0;
    left: 0;
  }

  87.5% {
    transform: scaleX(1) scaleY(var(--uib-mult)) translate(0%, 0%);
    transform-origin: bottom left;
    top: initial;
    bottom: 0;
    left: 0;
  }

  87.5001% {
    transform: scaleX(1) scaleY(var(--uib-mult)) translate(0%, 0%);
    transform-origin: top left;
    top: 0;
    left: 0;
  }
}

.preloader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: none;
  background: var(--bg);
  z-index: 9999999999999;
}

/* preset */
button {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}

a:has(button) {
  text-decoration: none;
  button {
    cursor: pointer;
  }
}

/* consistent */
.overline {
  font-size: 0.95rem;
  font-weight: 300;
}

.all-caps {
  text-transform: uppercase;
}

.rnd100 {
  border-radius: 30px;
}

.rvs-btn {
    background: var(--text);
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
  
}

.scn-rht {
  right: 0;
}

@keyframes moveOnPath {
  from {
    offset-distance: -9%;
  }
  to {
    offset-distance: 91%;
  }
}

/* 
@keyframes moveOnPath2 {
  from {
    offset-distance: -20%;
  }
  to {
    offset-distance: 80%;
  }
}

@keyframes moveOnPath3 {
  from {
    offset-distance: -31%;
  }
  to {
    offset-distance: 69%;
  }
} */

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.txt-lft {
  text-align: left;
}

.txt-cntr {
  text-align: center;
}

.txt-rht {
  text-align: right;
}

.overline {
  font-family: FiraCode;
}

.primBtn {
  background: var(--text);
  color:#3E1606;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 1em;
  padding-right: 1em;
}

.primBtn span {
  margin-left: 0;
}

.altBtn {
  background: #3E1606;
  color: var(--text);
}

.btn {
  min-width: fit-content;
  flex-grow: 1;
  cursor: pointer;
}

.pad-l50 {
  padding-left: 50px;
}